.thumbnail-displayer-container{
    display: flex;
    overflow: hidden; 
    margin-top: 1.3rem;
    margin: 1rem auto
}

.inner-thumbnail-container{
    display: flex;
    position: relative;
    gap: 1rem;
    transition: all 0.5s;
    align-items: center;
    height: calc(6vw + 1rem);
    padding: 0 0.3rem;
} 

.thumbnail-img-container{
    height: 3rem;
    width: 3rem;
    filter: brightness(0.8) grayscale(0.5);
    border-radius: 50%;
    transition: all 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.selected-thumbnail{
    filter: none;
    height: 5rem;
    width: 5rem;
    box-shadow: 0 0 6px #090909;
    border-radius: 5%;
}

.thumbnail-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .thumbnail-displayer-container{
        display: none
    }
    
}