.thumbnail-displayer-container{
    display: flex;
    margin: 1rem auto 0;
}

.inner-thumbnail-container{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    justify-content: center;
    gap: 1.5rem;
}

.thumbnail-img-container{
    height: 12vh;
    width: 12vh;
    filter: brightness(0.6) grayscale(0.7);
    cursor: pointer;
    transition: all 0.3s;
}

.thumbnail-img-container:hover{
    filter: none;
}

.selected-thumbnail{
    filter: none;
    height: 13vh;
    width: 13vh;
    box-shadow: 0 0 10px #030303;
}

.thumbnail-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}