.content-container{
    padding: 1rem 0 10rem;
    background-color: #171717;
}

.middle-section{
    display: flex;
    justify-content: center;
}

.video-item{
    align-self: center;
}

.photography-img-container{
    aspect-ratio: 1/1;
    height: 70vh;
    display: flex;
}

.content-img-container{
    aspect-ratio: 1/1;
    height: 70vh;
    display: flex;
    background-size: cover;
    border-radius: 0.1rem;
    overflow: hidden;
}

.content-img{
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.1rem;
    box-shadow: inset 0 3px 3px white;
}



.content-img-hidden{
    filter: grayscale(1) brightness(0.7);
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
}

.controller-prev, .controller-next{
    background-color: transparent;
    border: none;
}

.controller-prev{
    width: calc((100vw - 71vh) / 2);
    margin-left: calc((100vw - 71vh) / -2);
}

.controller-next{
    width: calc((100vw - 71vh) / 2);
    margin-right: calc((100vw - 71vh) / -2);
}

.prev-icon, .next-icon{
    font-size: 2rem;
    color: #555;
    margin: 0 2rem;
}

.prev-icon{
    float: right;
}

.next-icon{
    float: left;
}

.icon-invisible{
    color: transparent;
}

.controller-prev:hover .prev-icon, .controller-next:hover .next-icon{
    color: #fff;
}

.outer-thumbnail-container{
    overflow: hidden;
    width: 27rem;
    margin: 1rem auto 0;
    position: relative;
    z-index: 900;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
}

.thumbnail-container{
    padding: 0.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    transition: left, 0.5s;
}

.thumbnail-img-container{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.active-thumbnail-img-container{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    transform: scale(1.8);
    transition: all 0.15s;
    position: relative;
    z-index: 500;

}

.thumbnail{
    filter: brightness(0.5) grayscale(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover
}

.active-thumbnail{
    filter: brightness(1) grayscale(0);
    transition: all 0.15s;
}

.thumbnail-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0.4rem;
}

.rewind-btn{
    background: none;
    border: none;
}

.rewind-icon{
    color: #555;
    font-size: 2rem;
}

.rewind-btn:hover .rewind-icon{
    color: #fff;
}

.fullscreen-icon{
    width: 2rem;
    height: 2rem;
}

.full-screen-icon-container{
    display: none;
    margin: auto -2.5rem 0.5rem;
    cursor: pointer;
    color: #eee;
}

.photography-img-container:hover .full-screen-icon-container{
    display: block;
}