.photography-container{
    max-height: 90vh;
}

.middle-section{
    display: flex;
    justify-content: center;
}

.video-item{
    align-self: center;
}

.photography-img-container{
    width: 30rem;
    height: 30rem;
    max-height: 65vh;
    display: flex;
    overflow: hidden;
}

.photography-img{
    display: block;
    width: 100%;
    object-fit: scale-down;
    cursor: pointer;
    transition: scale, 7s;
}

.photography-img:hover{
    transform: scale(1.05);
}


.controller-prev, .controller-next{
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0.5rem;
}

.controller-prev{
    margin-left: -3rem;
}

.controller-next{
    margin-right: -3rem;
}

.prev-icon, .next-icon{
    font-size: 3rem;
    color: #555;
}

.controller-prev:hover .prev-icon, .controller-next:hover .next-icon, .info-icon:hover{
    color: #aaa;
}

.info-icon{
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;
}


.outer-thumbnail-container{
    overflow: hidden;
    width: 27rem;
    margin: 1rem auto 0;
    color: #f008;
    position: relative;
    z-index: 900;
    box-shadow: inset 0 0 25px #111;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.thumbnail-container{
    padding: 1rem 0.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    transition: left, 0.5s;
}

.thumbnail{
    width: 3rem;
    filter: brightness(0.5) grayscale(0.5);
}

.active-thumbnail{
    transform: scale(1.4);
    filter: brightness(1) grayscale(0);
    transition: all 0.15s;
    position: relative;
    z-index: 500;
    box-shadow: 0 0 5px #000;
}

.thumbnail-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0.4rem;
}

.rewind-btn{
    background: none;
    border: none;
}

.rewind-icon{
    color: #555;
    font-size: 2rem;
}

.rewind-btn:hover .rewind-icon{
    color: #fff;
}