.login-container{
    min-height: 100vh;
    background-color: #171717;
    padding: 2rem 20%;
}

.login-title{
    color: #fff;
    font-size: 2rem;
    margin: 2rem;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(94, 1, 94);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 30rem;
    margin: auto;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.form-label{
    color: #fff;
    align-self: flex-start;
}

.login-btn{
    color: #000;
    margin: 0.7rem 0;
    border: none;
    border-radius: 0.5rem;
}

.enter-btn{
    background-color: #00b91f;
}

.logout-btn{
    background-color: #910000;
}

.to-main-btn{
    background-color: #5e005e;
}