.carousel-caption{
    top: 0;
    left: 0;
    padding: 0
}

.carousel-inner{
    display: flex;
}

.slider-phrase-container{
    position: relative;
    top: 30%;
    left: 22%;
}

.slider-phrase{
    color: #fff;
    text-align: left;
    font-size: 4.2rem;
    max-width: 40%;
    font-family: Karla;
    font-weight: 300;
    line-height: 3.6rem;
    letter-spacing: -0.35rem;
}

.slider-info-container{
    position: relative;
    top: 40%;
    left: 85%;
    max-width: 30%;
}

.slider-info{
    color: #ddd;
    text-align: justify;
    font-size: 0.8rem;
    max-width: 70%;
    font-family: Karla;
}
